@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.top_menu li
		padding-left: 15px
		padding-right: 15px

	.reg_button
		width: 30vw

	.cool-text
		p
			font-size: 15px
		ul > li
			font-size: 14px
		h3
			font-size: 20px

	.bloger
		width: 80%
		margin-left: 10%

	.simple
		p
			font-size: 17px

	.us_composition
		strong
			font-size: 120px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.landing_menu
		width: 450px
		display: none

	.logo a img
		width: 150px
		margin-top: 2px

	.reg_log
		font-size: 14px

	.start_screen_text
		font-size: 16px
		strong
			font-size: 20px

	.howDecor
		display: none

	.how_block
		padding: 30px 20px 10px 20px
		line-height: 1.4
		font-size: 16px
		p
			font-size: 14px

	.cool-text 
		p
			font-size: 12px
		h3
			font-size: 18px
			margin: 10px 0 20px 0

	.road-points-up
		h3
			font-size: 18px
		p
			13px
		&:nth-child(1n)
			left: 10%
		&:nth-child(2n)
			left: 35%
		&:nth-child(3n)
			left: 60%

		.road-points-down
			h3
				font-size: 18px
			p
				13px
			&:nth-child(1n)
				left: 5%
			&:nth-child(2n)
				left: 35%
			&:nth-child(3n)
				left: 60%

	.money_percent.m3
		margin-right: 55px

	.action_screen
		min-height: 800px

	.us_composition
		strong
			font-size: 84px
		p, span
			font-size: 24px

	.bot_menu_2
		display: none

	.preregistr p
		font-size: 14px

	footer 
		ul
			text-align: center 
			li
				margin: 0px 12px 0 12px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	.simple-block img
		width: auto

	.simple-arrow
		display: none

	.reg_button
		margin-bottom: 50px
		width: 50%
		&:before
			display: none
		&:after
			display: none
		
	.reg_button_small.button
		margin-top: 50px

	.how_block
		margin: 60px 30px

	.money_percent
		p
			font-size: 12px
			strong
				font-size: 22px
	
	.cool-block
		min-height: 0px

	.blogers
		.bloger_photo 
			width: 40%
		.bloger_content
			padding: 15px 24px 0 24px;
			width: 60%
			h5
				font-size: 26px
			span
				font-size: 14px
			p
				font-size: 13px

	.us_composition
		margin: 100px 20%
		strong
			font-size: 70px
		p, span
			font-size: 22px

	.reg_big_button
		margin: 50px 20% 30px 20%
		.reg_button_big
			padding-top: 18px
			font-size: 28px

	.bot_menu_1
		display: none

	.cool-text
		text-align: center
		h3
			font-size: 30px
		p
			font-size: 16px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	
	.reg_button_small.button
		font-size: 16px
		padding-top: 16px
		&::after
			display: none

	.h2
		font-size: 24px

	.h2_duble
		h2
			font-size: 50px

	.reg_log
		font-size: 12px
		margin-right: 6px

	.reg_log .autorization a
		padding: 0 6px

	.logo a img
		width: 120px
		margin-top: 5px

	.bloger
		height: 700px
		.bloger_photo 
			width: 100%
			height: 300px
			background-size: cover
		.bloger_content
			padding: 15px 24px 0 24px;
			width: 100%
			text-align: center
			h5
				font-size: 26px
			span
				font-size: 14px
			p
				font-size: 13px

	.action_screen
		min-height: 550px

	.us_composition
		margin: 60px 20% 20px 20%
		strong
			font-size: 60px
		p, span
			font-size: 18px

	.reg_big_button
		.reg_button_big
			padding-top: 20px
			font-size: 22px
			height: 80px

	.action_screen .uge_reg
		font-size: 13px

	.cool_text
		font-size: 18px
		ul
			list-style-type: none
			li
				font-size: 12px

	footer ul
		text-align: left

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

