@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: $fonW
	color: $text

section
	background-color: $fonW


.img-responsive
	display: block
	max-width: 100%
	height: auto

//Preloader
@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)

.preloader
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	z-index: 100
	background-color: #000
	.pulse
		position: relative
		left: 50%
		top: 50vh
		margin: 
			left: -40px
			top: -40px
		&::before, &::after
			content: ''
			border: 2px solid $accent
			width: 80px
			height: 80px
			border-radius: 500px
			position: absolute
		&::before
			animation: pulse-outer .8s ease-in infinite
		&::after
			animation: pulse-inner .8s linear infinite

@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)

@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)

h1, h2, .h1, .h2
	font-weight: 300
	font-size: 32px
	text-align: center
	margin: 40px 0px 0px 0px
	z-index: 5

h6
	font-weight: 300
	font-size: 56px
	text-align: center
	margin: 0 0 100px 0

a, a:link, a:active, a:visited
	text-decoration: none

.fa
	font-size: 16px
	color: $text
	opacity: .5
	margin-right: 10px
	&.fa-user
		margin-right: 15px
		margin-left: 5px

//Кнопки
.button
	display: inline-block
	border: $accent 1px solid
	color: $accent
	text-decoration: none
	background-color: trasparent
	padding: 6px 16px
	font-weight: 300
	letter-spacing: 0px
	border-radius: 0px
	text-align: center
	position: relative
	outline: none
	transition: background-color .3s ease
	&:focus, &:hover
		text-decoration: none
		color: $main
	&:hover
		background-color: lighten($accent, 5%)
	&:active
		background-color: darken($accent, 5%)

.top_menu
	background-color: rgba(#000,.1)
	top: 0
	z-index: 50
	height: 90px
	padding-top: 10px
	width: 100%
	border-bottom: 1px rgba(#d7d7d7,.2) solid
	position: fixed
	font-weight: 300
	transition: all 1s ease
	&.active
		background-color: rgba(#000,.92)
		top: 0
		z-index: 50
		padding-top: 0px
		height: 74px
		width: 100%
		border-bottom: 1px rgba(#d7d7d7,.2) solid
		position: fixed
		font-weight: 300
		ul > li
			padding-bottom: 21px
	ul
		margin: 0;
		padding: 0;
		list-style-type: none;
		width: 100%
		text-align: center
	li
		display: list-item;
		float: left
		padding: 24px 21px 25px 21px
		transition: color .5s ease
		border-bottom: 2px transparent solid
		a
			color: #FFF
			transition: color .2s ease
		a:hover
			color: $accent
			text-decoration: none
		&:hover
			border-bottom: 2px $accent solid

.logo
	float: left
	width: 150px
	margin: 10px 0 0 24px
	a
		img
			width: 180px

.reg_log
	float: right;
	margin: 16px 20px 0 0
	.autorization
		a
			padding: 0 12px
			color: #fff
			transition: color .2s ease
			&:hover
				color: $accent
	.registration 
		border-color: #fff
		color: #fff
		border-radius: 2px
		transition: color 1s ease
		padding: 6px 24px
		&:hover
			color: #3a330d
			border-color: $accent

.landing_menu
	margin: auto
	width: 700px
	padding-left: 50px

.start_screen 
	background-color: $fonW

.start_bg
	background-image: url("../img/bg_start.png")
	position: relative
	background-size: cover
	background-position: center
	width: 100%
	height: 110vh
	min-height: 600px
	display:block

// Тестовый блок с видео


.v-cant
	position: absolute
	z-index: 1
	background-size: cover
	background-position: center
	min-width: 100%
	height: 100vh
	display: block
	overflow: hidden

.fullscreen-bg__video
	position: absolute
	z-index: 1
	background-size: cover
	background-position: center
	height: auto
	min-width: 100%
	min-height: 100vh

.video_overlay
	z-index: 5
	position: absolute
	background-color: rgba(#2d135b,.8)
	left: 0
	right: 0
	top: 0
	height: 100vh
	width: 100%


.rel_height_start_screen
	position: relative
	width: 100%
	height: 100vh

// Блок с видео заканчивается

.start_screen_logo
	margin: auto
	width: auto
	text-align: center
	padding-top: 20vh
	img
		width: 35vw

.start_screen_text
	margin: 10px 0 60px 0
	width: auto
	text-align: center
	color: rgba(#fff,.5)
	font-size: 20px
	padding-top: 20px
	font-weight: 300
	strong
		color: rgba(#fff,1)
		font-size: 40px
		padding: 0 12px 0 12px
		font-weight: 300


.reg_button
	margin-top: 50px
	width: 20vw
	margin: auto
	&:before
		content: 'Через YouTube'
		color: #fff
		font-weight: 300
		position: absolute
		display: block
		top: 50px
		left: 0
		right: 0
		margin: auto
	&:after
		content: 'Осталось ' + $slot + ' мест'
		color: #fff
		font-weight: 300
		position: absolute
		display: block
		top: 180px
		left: 0
		right: 0
		margin: auto
	&:hover
		color: $accent_text
	.reg_button_small
		display: block
		margin: 95px 0 0 0
		height: 64px
		padding-top: 12px
		font-size: 22px
		border-radius: 64px
		box-shadow: inset 0px 5px 20px -4px rgba(194,101,19,0.7);
		background-color: $accent
		color: $accent_text
		z-index: 3
		transition: all .5 ease
		&:hover
			background-color: #ffeb84
			box-shadow: inset 0px 5px 20px -4px rgba(194,101,19,0.4);
		&::after
			content: ''
			z-index: 2
			position: absolute
			display: block
			width: 160px
			height: 65px
			background-image: url("../img/blick_small.png")
			top: 0px
			left: 0
			right: 0
			margin: auto
	

.content_types
	margin-top: 80px

.content_type
	color: #fff
	opacity: 0.5
	font-weight: 300
	font-size: 16px
	margin: auto
	text-align: center
	img
		height: 22px
		margin: 16px 0
		opacity: 0.3


.skroll_down
	width: 120px
	height: 120px
	position: absolute
	left: 0
	right: 0
	top: 85vh
	text-align: center
	margin: auto
	p
		color: rgba(#fff,.5)
		font-weight: 100
		transition: color .5s ease
	&:hover
		p
			color: rgba(#fff,1)
			cursor: pointer

.h2_div
	position: relative
	width: 100%
	height: auto
	margin: 50px 0 260px 0
	&.dark
		margin-bottom: 260px
		margin-top: 100px
	&.gray
		margin-top: 70px
	&.weDo
		margin-top: 100px

.h2_duble
	z-index: 1
	position: absolute
	left: 0
	right: 0
	top: -60px
	margin: auto
	h2
		font-size: 74px
		color: #dfdfdf
		font-weight: 900
	&.dark
		h2
			color: #2c2c2c
	&.viol
		h2
			color: rgba(#fff,.15)


.zasvet
	z-index: 2
	background-image: url("../img/zasvet_white.png")
	width: 369px
	height: 112px
	position: absolute
	left: 0
	right: 0
	top: 13px
	margin: auto
	&.dark
		background-image: url("../img/zasvet_dark.png")
	&.gray
		background-image: url("../img/zasvet_gray.png")
	&.viol
		background-image: url("../img/zasvet_viol.png")
		width: 440px

	
.h2_t
	z-index: 5
	position: absolute
	left: 0
	right: 0
	top: 0
	margin: auto
	&.dark
		color: #FFF

.h2_line
	text-align: center
	height: 2px
	width: 100px
	background-color: $main
	border: none
	position: absolute
	left: 0
	right: 0
	top: 120px
	margin: auto
	&.dark
		background-color: #FFF

.simple
	text-align: center
	margin-bottom: 80px

.simple-arrow
	margin-top: 80px

.simple-block
	text-align: center
	margin: auto
	p
		font-weight: 300
		font-size: 20px
	img
		width: 100%
		margin-top: 30px

.simple-3 img
	margin-top: 0px

.preregistr 
	background-image: url("../img/bg_preregistration.jpg")
	position: relative
	background-size: cover
	background-position: center
	width: 100%
	min-height: 350px
	display:block
	text-align: center
	margin: auto
	padding: 50px 0
	position: relative
	p
		color: #fff
		font-weight: 300

.how_it_works
	margin-top: 50px

.howDecor_rel
	position: relative
	z-index: 1
	width: 100%
	height: 1px

.howDecor
	background-image: url("../img/secHow_decor.png")
	z-index: 1
	background-size: cover
	background-position: center
	width: 100%
	height: 308px
	position: absolute
	left: 0
	right: 0
	top: 250px
	margin: auto

.how_point
	padding: 0px 24px 24px 24px
	&::after
		content: ''
		background-image: url("../img/how1.png")
		width: 206px
		height: 174px
		z-index: 6
		position: absolute
		top: -114px
		left: 0
	&:nth-child(2)
		margin-top: 80px
		&::after
			background-image: url("../img/how2.png")
	&:nth-child(3)::after
		background-image: url("../img/how3.png")

.how_block
	z-index: 5
	position: relative
	background-color: $fonW
	box-shadow: 0px 20px 35px -5px rgba(0,0,0,0.15)
	border-radius: 20px
	padding: 36px
	h2
		font-size: 18px
		font-weight: 600
	p
		font-weight: 300

.cool
	position: relative

.bg_cool
	background-image: url("../img/bg_cool.jpg")
	background-size: cover
	background-position: 50% 100%
	width: 100%
	margin-top: 100px
	padding-bottom: 80px

.cool-carousel
	.owl-nav 
		position: absolute
		top: 0
		width: 100%
		padding-top: 150px 
		margin: auto
		.owl-prev
			left: 0
			float: left
		.owl-next
			right: 0
			float: right
		i
			color: #fff
			font-size: 50px
			transition: all .5s ease
			&:hover
				opacity: 1

	.owl-dots
		display: inline-block
		text-align: center
		position: relative
		width: 100%
		margin: 30px 0
		.owl-dot
			display: inline-block
			width: 24px
			height: 24px
			border-radius: 24px
			background-color: rgba(#000, .4)
			margin: 0 10px 0 0
			&.active
				width: 30px
				height: 30px
				background-color: rgba(#fff, 1)
				box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);

.cool-block
	margin: 30px 0 50px 0
	width: 100%
	height: auto
	position: relative

.cool-text
	color: #fff
	font-weight: 300
	font-size: 16px
	padding-top: 22px
	h3
		font-size: 24px
		font-weight: 300
		margin-bottom: 40px

.money
	background-image: url("../img/bg_money.jpg")
	background-size: cover
	background-position: center
	width: 100%
	min-height: 900px

.money_line
	text-align: center
	margin: auto
	margin: 20px 24px 0px 24px
	img
		width: 100%
		min-height: 30px

.money_percent
	height: 80px
	width: auto
	float: left
	margin: 0 0 10px 50px
	border-left: 2px $accent solid
	padding-left: 16px
	p
		color: $accent
		margin: 0
		padding: 0
		font-size: 18px
		font-weight: 300
		line-height: 1.2
		strong
			font-size: 34px
			font-weight: 300
	&.m2
		float: right
		border-right: 2px #fff solid
		border-left: none
		text-align: right
		padding-right: 16px
		margin: 0 45px 10px 0
		p
			color: #fff
	&.m3
		float: right
		border-right: 2px #59b74c solid
		border-left: none
		text-align: right
		padding-right: 16px
		padding-top: 16px
		margin: 10px 75px 0 0
		p
			color: #59b74c

.money_points
	color: #fff
	font-size: 18px
	font-weight: 300
	margin: 40px 20px 0 20px
	text-align: center
	padding: 0px 0 60px 0;
	span
		font-size: 14px
		color: #7b7b7b
	
.money_point
	margin: 60px auto
	border: 2px #fff solid
	text-align: center
	width: 100px

.some_blogers
	background-color: $fon

.blogers
	.owl-dots
		margin: 10px 0 50px 0
		text-align: center
		.owl-dot
			display: inline-block
			width: 24px
			height: 24px
			background-color: rgba(#000, .2)
			margin: 0 16px 0 0
			&:hover
				background-color: rgba($main, .5)
			&.active
				width: 30px
				height: 30px
				background-color: rgba(#fff, 1)
				box-shadow: 0px 5px 15px 0px rgba(0,0,0,.2);


.bloger
	width: 100%
	height: 500px
	margin: 30px 0 60px 0
	background-color: #fff
	box-shadow: 0px 20px 50px 0px rgba(0,0,0,.2);

.bloger_photo
	height: 500px
	width: 30%
	float: left
	background-position: center
	&.blog1
		background-image: url("../img/Bloger_1.jpg")
	&.blog2
		background-image: url("../img/Bloger_2.jpg")
	&.blog3
		background-image: url("../img/Bloger_3.jpg")

.bloger_content
	padding: 20px 40px 0 40px
	min-height: 200px
	width: 70%
	float: right
	h5
		font-size: 32px
		font-weight: 300
		padding: 0
		margin: 20px 0 0 0
		line-height: 1.2
		strong
			color: $main
	span
		font-size: 18px
		font-weight: 300
	p
		font-size: 16px
		color: #3a3a3a
		font-weight: 300

.road-line
	border-bottom: #dadada 1px solid
	width: 100%
	height: 25px
	margin: 200px 0 300px 0
	position: relative
	display:block

.road-points-up
	height: 200px
	width: 200px
	border-left: #dadada 1px solid
	display: inline-block
	position: absolute
	left: 20%
	bottom: 25px
	&:nth-child(2n)
		left: 40%
	&:nth-child(3n)
		left: 60%
	h3
		color: $text
		font-weight: 300
		font-size: 20px
		margin: 0 0 12px 20px
	p
		color: $text2
		font-weight: 300
		font-size: 15px
		margin-left: 20px
	&:after
		content: ''
		width: 40px
		height: 40px
		background-color: $main
		border-radius: 20px
		border: #fff 8px solid
		position: absolute
		bottom: -44px
		left: -20px
		z-index: 5
	&.now
		h3
			color: $main
			font-weight: 600
			font-size: 24px
		&:after
			content: ''
			width: 60px
			height: 60px
			background-color: #7d47b2
			border-radius: 30px
			border: #fff 8px solid
			position: absolute
			bottom: -54px
			left: -30px
	&.future
		&:after
			background-image: url("../img/road-future-circle.png")
			content: ''
			width: 42px
			height: 42px
			border-radius: 20px
			border: #fff 8px solid



.road-points-down
	height: 200px
	width: 200px
	border-left: #dadada 1px solid
	display: inline-block
	position: absolute
	left: 30%
	top: 25px
	&:nth-child(2n)
		left: 50%
	&:nth-child(3n)
		left: 70%
	h3
		color: $text
		font-weight: 300
		font-size: 20px
		margin: 70px 0 12px 20px
	p
		color: $text2
		font-weight: 300
		font-size: 15px
		margin-left: 20px
	&:before
		content: ''
		width: 40px
		height: 40px
		background-color: $main
		border-radius: 20px
		border: #fff 8px solid
		position: absolute
		top: -21px
		left: -20px
		z-index: 5
	&.future
		&:before
			background-image: url("../img/road-future-circle.png")
			content: ''
			width: 42px
			height: 42px
			border-radius: 20px
			border: #fff 8px solid


.final
	background-size: cover
	background-position: center
	text-align: center
	position: relative
	width: 100%
	min-height: 130px
	
footer
	width: 100%
	height: 130px
	background-color: #000
	position: absolute
	bottom: 0
	font-weight: 300
	transition: all 1s ease
	ul
		text-align: justify
		text-align-last:justify
		font-size: 15px
		width: 100%
		margin: 36px 0 0 0
		padding: 0
		&:after 
			content: ''
			display: inline-block 
			width: 100%
			height: 
			overflow: hidden
		li
			display: inline-block
			a
				display: inline-block
				color: rgba(#fff,.5)
				transition: all .5s ease
				padding-bottom: 5px
				border-bottom: 1px transparent solid
				&:hover
					color: rgba(#fff,1)
					border-bottom: 1px $accent solid
			a.foot_logo:hover
				border-bottom: 1px transparent solid


.foot_logo
	img
		width: 200px
		opacity: .7
		transition: all .5s ease
		&:hover
			opacity: 1


.top
	position: fixed
	bottom: 30px
	right: -100px
	background-color: #fff
	z-index: 12
	border-radius: 32px
	width: 64px
	height: 64px
	transition: all .5s ease
	cursor: pointer
	box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.2);
	.fa
		opacity: 1
		position: absolute
		font-size: 30px
		color: $main
		left: 22px
		bottom: 20px
	&:hover
		background-color: rgba($main, .9)
		.fa
			color: #fff
	&.active
		right: 30px




@import "media" // Всегда в конце
